body {
    margin: 0;
    background-color: rgb(27, 27, 50);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
  }
  
  button {
    cursor: pointer;
    background-color: rgb(59, 59, 79);
    border: 3px solid white;
    color: white;
    padding: 0.5em 1em;
    margin-top: 10px;
  }
  
  input {
    background-color: rgb(10, 10, 35);
    color: white;
    border: 1px solid rgb(59, 59, 79);
    padding: 0.5em;
  }
  
  .bold {
    font-weight: bold;
  }
  